.preview {
  padding: 300px 129px 0;
  min-height: 100vh;
  background-color: black;
}

.preview-header {
  align-items: flex-end;
  margin-bottom: 140px;
}

.preview .sub-title {
  color: #9e9e9e;
}

.preview .title {
  color: white;
}

.preview .sub-phrase {
  color: white;
}

.preview-desc {
  max-width: 450px;
  font-size: 16px;
  line-height: 1.6;
  color: #888;
  text-align: right;
  word-break: keep-all;
  margin-left: auto;
}

.down_arrow {
  position: relative
}

.down_arrow div::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  background-color: black;
  width: 30px;
  transform: translateX(-50%);
  -webkit-animation: downAni 2.3s ease-out infinite forwards;
  animation: downAni 2.3s ease-out infinite forwards;
}

@keyframes downAni {

  0%,
  100% {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }

  25% {
    -webkit-clip-path: inset(100% 0 0 0);
    clip-path: inset(100% 0 0 0);
  }

  50% {
    -webkit-clip-path: inset(0 0 100% 0);
    clip-path: inset(0 0 100% 0);
  }
}