.hero {
  position: relative;
  height: 100vh;
  background: #fff;
  /* 스크린샷처럼 화이트 */
  color: #000;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* 헤더 */
.header {
  display: flex;
  justify-content: space-between;
  width: 94%;
  margin: 0 auto;
  padding: 38px 0 30px;
  align-items: center;
  z-index: 100;
}

.hero-name {
  font-size: 30px;
  font-weight: 900;
  letter-spacing: -1.2px;
}

.hero-nav {
  display: flex;
  padding: 8px 14px;
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(0, 0, 0, 0.45);
  border-radius: 999px;
  backdrop-filter: blur(10px);
  align-items: center;
}

.hero-nav a {
  color: #000;
  font-family: "Basis Grotesque Arabic Pro", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 999px;
}

.hero-nav a.active {
  background: #111;
  color: #bbff52;
}

/* 하단 라인 박스 */
.hero-bottomBox {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.45);
  border-bottom: 1px solid rgba(0, 0, 0, 0.45);
  padding: 26px 0;
  margin-top: 64px;
}

.hero-bottom-content {
  width: 94%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 16px;
  line-height: 1.65;
  font-weight: 500;
  text-align: start;
}

.hero-bottom.right {
  text-align: right;
}

/* 중앙 DECODER */
.hero-center {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 10px;
}

.decoder-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  will-change: transform, opacity;
}

.decoder-svg {
  width: 100%;
  display: block;
}

.decoder-text,
.decoder-stroke {
  font-family: "Solemn Sojourn", serif;
  /* 너가 쓰던 폰트 유지 */
  font-weight: 900;
  letter-spacing: -10px;
  font-size: 430px;
}

.decoder-stroke {
  fill: transparent;
  stroke-width: 2px;
  paint-order: stroke;
}

/* 마스크 내부 영상 */
.decoder-videoBox {
  width: 100%;
  height: 100%;
  background: #000;
}

.decoder-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.02);
  filter: saturate(0.9) contrast(1.05);
}

.full-video-layer {
  position: absolute;
  inset: 0;
  z-index: 50;
  background: transparent;
  /* 카드면 검정 배경 없어도 됨 */
  display: flex;
  align-items: center;
  justify-content: center;

  /* ✅ 이 줄 삭제/제거해야 GSAP이 transform을 통제함 */
  /* transform: translateY(100%); */
  will-change: transform, opacity;
}

.full-video {
  width: min(92vw, 1200px);
  height: min(70vh, 720px);
  object-fit: cover;
  border-radius: 40px;
}

.video-text-overlay {
  position: absolute;
  text-align: center;
}

.video-text {
  font-size: 50px;
  font-weight: 500;
  color: white;
  transform: translateY(10px);
}
