.website {
  width: 100%;
  position: relative;
  padding: 12vh 4vw;
}

.website .sub-desc {
  margin-left: 0;
  width: 75%;
}

.website .title-container {
  margin-bottom: 60px;
}

.website .subTitle {
  text-align: left;
  margin-bottom: 120px;
}

.website-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14vh 4vw;
}

.website-item {
  text-align: left;
  gap: 40px;
  display: flex;
  flex-direction: column;
}

.titbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titbox .tit {
  display: flex;
  align-items: center;
}

.dot {
  margin-right: 14px;
}

.item-name {
  font-size: 28px;
  font-weight: 600;
  color: #2c2c2c;
}

.item-txt {
  font-size: 20px;
  color: #505050;
  line-height: 1.6;
  margin-bottom: 24px;
}

.item-img-wrap img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.item-bottom {
  font-size: 18px;
  color: #999;
}

.item-bottom strong {
  font-size: 14px;
  display: inline;
  color: #999999;
  margin-right: 12px;
  border: 1px solid #999999;
  border-radius: 30px;
  padding: 8px 16px;
}

.screen {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.screen img {
  width: 100%;
  display: block;
  transition: filter 0.3s ease;
}

.screen .imgtxt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  z-index: 2;
  text-align: center;
  line-height: 1.6;
  pointer-events: none;

  opacity: 0;
  transition: opacity 0.3s ease;
}

.screen:hover img {
  filter: brightness(0.3);
}

.screen:hover .imgtxt {
  opacity: 1;
}


.website-item .main-button {
  color: #505050;
}

@media (max-width: 1200px) {
  .screen img {
    border-radius: 8px;
  }

  .website-item {
    gap: 30px;
  }

  .item-name {
    font-size: 26px;
  }

  .website-grid {
    gap: 10vh 4vw;
  }
}

@media (max-width: 980px) {
  .website-grid {
    grid-template-columns: 1fr;
    gap: 16vh 4vw;
  }

  .item-name {
    font-size: 24px;
  }

  .website-item {
    gap: 24px;
  }

  .website .sub-desc {
    width: 100%;
  }

  .screen img {
    border-radius: 16px;
  }

  .website .subTitle {
    margin-bottom: 10vh;
  }
}

@media (max-width: 768px) {
  .item-txt {
    font-size: 16px;
  }

  .screen .imgtxt {
    font-size: 14px;
  }

  .website .title-container {
    margin-bottom: 40px;
  }

  .item-bottom {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .screen img {
    border-radius: 8px;
  }

  .dot {
    margin-right: 4px;
  }

  .dot img {
    width: 62%;
  }

  .screen .imgtxt {
    font-size: 12px;
  }

  .item-txt {
    font-size: 14px;
  }

  .item-name {
    font-size: 20px;
  }

  .item-bottom strong {
    font-size: 10px;
    padding: 6px 14px;
    margin-right: 8px;
  }

  .item-bottom {
    font-size: 12px;
  }

  .website-grid {
    gap: 8vh 4vw;
  }
}
