.hobby {
  font-family: "Basis Grotesque Arabic Pro", sans-serif;
  overflow: hidden;
}

.hobby-header {
  margin: 220px 129px 175px;
}

.hobbyTit {
  color: black;
  font-size: 200px;
  line-height: 0.5;
  font-family: "Basis Grotesque Arabic Pro", sans-serif;
  font-weight: 500;
  letter-spacing: -5px;
  text-align: left;
  margin-bottom: 200px;
}

.hobbyTit span {
  font-size: 98px;
  color: #9e9e9e;
  font-weight: normal;
}

.hobby .title-container .title.deco {
  color: #9e9e9e;
  font-size: 65px;
  font-weight: normal;
  line-height: 1.2;
}

.selected-projects-label {
  color: var(--purple);
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 5;
}

.go-to-site {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 200px;
}

.go-to-site a {
  color: var(--purple);
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  border-bottom: 1px solid var(--purple);
  padding-bottom: 4px;
  transition: all 0.3s ease;
  letter-spacing: 1px;
}

.go-to-site a:hover {
  color: white;
  border-bottom-color: white;
}

.hobby-list {
  position: relative;
  margin: 30vh auto 0;
}

.hobby-line {
  position: absolute;
  left: 50%;
  top: -5%;
  width: 1px;
  height: 100%;
  background: black;
  border-radius: 50%;
  transform: translateX(-50%);
}

.hobby-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
}

.hobby-text {
  z-index: 5;
  background: white;
  padding: 20px 0;
}


.hobby-label {
  display: block;
  font-size: 0.75rem;
  color: #999;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.hobby-title {
  font-size: 40px;
  line-height: 1.1;
  white-space: pre-line;
}

.hobby-thumb {
  position: absolute;
  right: 0;
  overflow: hidden;
  border-radius: 10px;
}

.hobby-item:nth-child(even) .hobby-thumb {
  right: auto;
  left: 0;
}

.hobby-thumb img {
  object-fit: cover;
  transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (max-width: 1024px) {
  .hobby-thumb {
    width: 250px;
    right: 5%;
  }

  .hobby-item:nth-child(even) .hobby-thumb {
    left: 5%;
  }

  .hobby-title {
    font-size: 1.5rem;
  }
}