.skill {
  font-family: "Basis Grotesque Arabic Pro", sans-serif;
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.skill .title-container {
  margin-bottom: 0;
}

.skill-header {
  align-items: center;
  padding: 200px 129px 0;
}

.skill .subTitle {
  margin-bottom: 50px;
}

.skill .title {
  white-space: pre-wrap;
}

.skill-active-title {
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: inherit;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.skill-card:hover .skill-active-title {
  opacity: 1;
  transform: translateY(0);
}

.marquee-wrapper {
  width: 100%;
  margin-top: auto;
  margin-bottom: 200px;
}

.marquee-content {
  display: flex;
  gap: 15px;
  width: max-content;
  animation: scrollMarquee 40s linear infinite;
  align-items: flex-end;
  height: 400px;
}

.marquee-wrapper:hover .marquee-content {
  animation-play-state: paused;
}

@keyframes scrollMarquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.skill-card {
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  overflow: hidden;
  transform-origin: bottom;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-box {
  font-size: 50px;
  color: #000;
  transition: all 0.5s ease;
}

.skill-name {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 500;
  color: white;
  transition: opacity 0.3s ease;
}

.skill-hover-desc {
  position: absolute;
  width: 100%;
  padding: 0 25px;
  color: #fff;
  font-size: 15px;
  line-height: 1.6;
  text-align: center;
  word-break: keep-all;
  opacity: 0;
  bottom: 50px;
  transition: all 0.4s ease;
  transform: translateY(20px);
}

.skill-card:hover {
  width: 250px;
  height: 350px;
  background-color: #1a1a1a;
}

.skill-card:hover .icon-box {
  color: #fff;
  transform: translateY(-80px) scale(0.9);
}

.skill-card:hover .skill-name {
  opacity: 0;
}

.skill-card:hover .skill-hover-desc {
  opacity: 1;
  transform: translateY(0);
}
