.about {
  color: black;
  min-height: 100vh;
  padding: 229px 129px;
}

.content-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-content {
  text-align: start;
}

.quote-mark {
  font-size: 4rem;
  color: black;
  font-family: fantasy;
  line-height: 0.5;
}

.intro-phrase {
  font-size: 55px;
  font-weight: 400;
  margin-bottom: 36px;
}

.description {
  color: #9e9e9e;
  line-height: 1.6;
  font-size: 25px;
}

.image-content {
  display: flex;
  justify-content: center;
}

.profile-wrapper {
  position: relative;
  display: flex;
}