.about {
  color: black;
  min-height: 100vh;
  padding: 12vw 6vw;
}

.content-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-content {
  text-align: start;
}

.quote-mark {
  font-size: 4rem;
  color: black;
  font-family: fantasy;
  line-height: 0.5;
}

.intro-phrase {
  font-size: 3vw;
  font-weight: 500;
  margin-bottom: 36px;
  letter-spacing: -2px;
}

.description {
  color: #9e9e9e;
  line-height: 1.6;
  font-size: 1.7vw;
  letter-spacing: -1px;
}

.image-content {
  display: flex;
  justify-content: center;
}

.profile-wrapper {
  position: relative;
  display: flex;
}

.profile-wrapper img {
  width: 25vw;
}
