.about {
  color: black;
  min-height: 100vh;
  padding: 12vw 6vw;
}

.content-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-content {
  text-align: start;
}

.quote-mark {
  font-size: 70px;
  color: black;
  font-family: 'Basis Grotesque Arabic Pro';
  line-height: 0.5;
}

.intro-phrase {
  font-size: 55px;
  font-weight: 500;
  margin-bottom: 36px;
  letter-spacing: -2px;
}

.description {
  color: #9e9e9e;
  line-height: 1.6;
  font-size: 25px;
  letter-spacing: -1px;
  white-space: pre-line;
}

.image-content {
  display: flex;
  justify-content: center;
}

.profile-wrapper {
  position: relative;
  display: flex;
}

.profile-wrapper img {
  width: 25vw;
}

@media (max-width: 1600px) {
  .intro-phrase {
    font-size: 45px;
  }

  .description {
    font-size: 22px;
  }

  .quote-mark {
    font-size: 65px;
  }
}

@media (max-width: 1400px) {
  .intro-phrase {
    font-size: 40px;
  }

  .description {
    font-size: 20px;
  }

  .quote-mark {
    font-size: 60px;
  }
}

@media (max-width: 1200px) {
  .profile-wrapper img {
    width: 38vw;
  }

  .content-section {
    gap: 75px;
    flex-direction: column-reverse;
  }

  .quote-mark {
    font-size: 50px;
  }
}

@media (max-width: 1024px) {
  .intro-phrase {
    font-size: 35px;
  }

  .quote-mark {
    font-size: 45px;
  }

  .about {
    padding: 0 6vw 12vw;
  }
}

@media (max-width: 768px) {
  .intro-phrase {
    font-size: 30px;
  }

  .description {
    font-size: 18px;
    white-space: inherit;
  }

  .profile-wrapper img {
    width: 60vw;
  }

  .about {
    padding: 10vh 6vw 12vw;
  }
}

@media (max-width: 600px) {
  .intro-phrase {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .description {
    font-size: 16px;
  }
}

@media (max-width: 430px) {
  .intro-phrase {
    font-size: 22px;
    margin-bottom: 15px;
  }

  .description {
    font-size: 15px;
  }
}