.title-container {
  text-align: start;
  margin-bottom: 200px;
}

.sub-title {
  color: black;
  font-size: 25px;
  letter-spacing: -1px;
  display: block;
  margin-bottom: 16px;
}

.title {
  color: black;
  font-size: 150px;
  line-height: 1; /* font-family: "Basis Grotesque Arabic Pro", sans-serif; */
  font-family: "PP Editorial New", serif;
  font-weight: 500;
  letter-spacing: -5px;
}

.title.deco {
  color: #9e9e9e;
}

.animate {
  opacity: 0;
}

/* show 붙으면 keyframe 실행 */
.animate.show {
  animation: fadeUp 0.9s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

/* 순차 등장 */
.sub-title.show {
  animation-delay: 0.1s;
}

.title.show {
  animation-delay: 0.3s;
}

.deco.show {
  animation-delay: 0.5s;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(60px);
    filter: blur(6px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

@media (max-width: 1600px) {
  .title {
    font-size: 120px;
  }
}

@media (max-width: 1400px) {
  .title-container {
    margin-bottom: 140px;
  }
}

@media (max-width: 1200px) {
  .title {
    font-size: 100px;
  }
}

@media (max-width: 955px) {
  .title {
    font-size: 80px;
  }

  .title-container {
    margin-bottom: 100px;
  }

  .hobby-item {
    height: 250px;
  }

  .sub-title {
    font-size: 23px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 70px;
  }

  .sub-title {
    font-size: 20px;
  }
}

@media (max-width: 630px) {
  .title {
    font-size: 55px;
  }

  .sub-title {
    font-size: 18px;
  }

  .intro-phrase {
    font-size: 25px;
    margin-bottom: 18px;
  }
}

@media (max-width: 532px) {
  .title {
    font-size: 50px;
  }
}

@media (max-width: 430px) {
  .title {
    font-size: 48px;
    letter-spacing: -1px;
  }

  .title-container {
    margin-bottom: 70px;
  }
}
