/* Gallery.css */

.gallery {
  height: 100vh;
  padding: 150px 0;
  position: relative;
  overflow: hidden;
  /* ✅ bg scale 시 삐져나오는거 방지 */
  background-color: #fff;
  /* 초기 배경색 */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ✅ 배경 레이어 */
.gallery-bg {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;

  background-image: url("/public/img/bg.svg");
  background-size: cover;
  background-position: center;
}

/* ✅ 텍스트/컨텐츠는 bg 위로 */
.gallery-scale,
.top-label,
.bottom-description,
.down_arrow {
  position: relative;
  z-index: 1;
}

.top-label {
  font-size: 20px;
  opacity: 0.8;
}

.main-display-title {
  font-family: "PP Editorial New", serif;
  font-size: 156px;
  font-weight: 500;
  line-height: 0.95;
  margin-bottom: 48px;
}

.bottom-description {
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: -1px;
}

@keyframes down {

  0%,
  100% {
    clip-path: inset(0 0 0 0);
  }

  25% {
    clip-path: inset(100% 0 0 0);
  }

  50% {
    clip-path: inset(0 0 100% 0);
  }
}

@media (max-width: 1600px) {
  .top-label {
    font-size: 18px;
  }

  .bottom-description {
    font-size: 18px;
  }
}

@media (max-width: 560px) {
  .top-label {
    font-size: 14px;
  }

  .bottom-description {
    font-size: 14px;
  }
}
