.gallery {
  height: 110vh;
  justify-content: center;
  padding: 150px 0;
  background: #000;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gallery-bg-wrap {
  position: absolute;
  inset: 0;
  z-index: 0;

  transform-origin: 50% 50%;
  will-change: transform;
}

.gallery-bg {
  position: absolute;
  inset: 0;

  background-image: url("/public/img/bg.svg");
  background-size: cover;
  background-position: center;
}

.gallery-bg-image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  max-width: 900px;
  pointer-events: none;
}

.top-label {
  font-size: 20px;
  opacity: 0.8;
}

.main-display-title {
  font-family: "PP Editorial New", serif;
  font-size: 156px;
  font-weight: 500;
  line-height: 0.95;
  margin-bottom: 48px;
}

.bottom-description {
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: -1px;
}

@media (max-width: 1600px) {
  .top-label {
    font-size: 18px;
  }
  .bottom-description {
    font-size: 18px;
  }
}
