.gallery {
  height: 110vh;
  justify-content: center;
  padding: 150px 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gallery-bg-wrap {
  position: absolute;
  inset: 0;
  z-index: 0;

  transform-origin: 50% 50%;
  will-change: transform;
}

.gallery-bg {
  position: absolute;
  inset: 0;

  background-image: url("/public/img/bg.svg");
  background-size: cover;
  background-position: center;
}

.gallery-bg-image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  max-width: 900px;
  pointer-events: none;
}

.top-label {
  font-size: 20px;
  opacity: 0.8;
}

.main-display-title {
  font-family: "PP Editorial New", serif;
  font-size: 156px;
  font-weight: 500;
  line-height: 0.95;
  margin-bottom: 48px;
}

.bottom-description {
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: -1px;
}

.down_arrow {
  display: flex;
  justify-content: center;
}

.down_arrow div {
  text-align: center;
  position: relative;
  display: flex;
  position: relative;
}

.down_arrow div::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  width: 30px;
  transform: translateX(-50%);
  -webkit-animation: down 2.3s ease-out infinite forwards;
  animation: down 2.3s ease-out infinite forwards;
  background: white;
}

@keyframes down {

  0%,
  100% {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }

  25% {
    -webkit-clip-path: inset(100% 0 0 0);
    clip-path: inset(100% 0 0 0);
  }

  50% {
    -webkit-clip-path: inset(0 0 100% 0);
    clip-path: inset(0 0 100% 0);
  }
}

@media (max-width: 1600px) {
  .top-label {
    font-size: 18px;
  }

  .bottom-description {
    font-size: 18px;
  }
}

@media (max-width: 530px) {
  .bottom-description {
    font-size: 14px;
  }
}